.text-decoration-underline-hover:hover {
    text-decoration: underline;
}
.hover-block:hover {
    display: block;
}

*::-webkit-scrollbar {
    display: none;
}
.scrollbar {
    overflow-y: scroll;
    ms-overflow-style: none;
    scrollbar-width: none;
  }